<!DOCTYPE html>
<html>
<head>
  <title>Latihan</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <h1>
    Welcome to my store
  </h1>
  <hr />
</head>
<body>

<%= yield %>

</body>
</html>
